<!DOCTYPE html>
<html>

	<body>
		<div class="loader"></div>
		<div class="wrapper">
			<div class="container">
								<div class="page-title">
					<div class="row">
						<div class="col-md-12 col-xs-12">
								<h1><b>강추란</b></h1>
								반려견들에게 알맞은 파트너를 소개해주는 사이트입니다.</br>
								지금부터 최고의 애견 매칭 시스템을 경험해보십시오.</br>
							</div>
					</div>
				</div>
				<div class="about">
					<center>
						<div class="about-img">
							<img src="http://www.rescuedogsmatch.com/images/img0051.png">
						</div>
					</center>
					<div class="item active" style="background-image:url(/bgr.png)">
					<h1><b>왜 강추인가</b></h1><br>
					<div class="image-size-control_1">
						<img src="http://www.hypebot.com/.a/6a00d83451b36c69e201b7c7f7ae47970b-800wi">
					</div>
					<h2>손쉬운 정보 확인<br></h2>

						<p>마우스 오버로 간단 프로필 확인이 가능합니다. 애견 등록 <a href="/list">리스트</a>에서 확인해보세요!<p>
					<br>
					<div class="image-size-control_1">
						<img src="http://www.clker.com/cliparts/C/Q/d/N/y/E/filter-button-png.svg.hi.png">
					</div>
					<h2>자신의 견종에 맞는 파트너 검색<br></h2>
						거주지/견종/성별/나이에 맞춰 세세한 필터링이 가능합니다
					<br><br>
					<div class="image-size-control_2">
						<img src="http://blog.highfield.bolton.sch.uk/1h/files/2016/05/message-in-a-bottle-clipart-1.png">
					</div>
					 	 
					<h2>별도의 과정없이 견주와 직접 연락 가능<br></h2>
						<p>마음에 드는 반려견을 만났다면 주저없이 쪽지를 보내보세요!<br>
						당신의 <a href="/home/upload_pet">애견을 등록</a>하고 함께 사랑을 찾아 떠나세요!</p>
						</div>
					<div class="about-content">
						<div class="about-info">
							<!--<h3>About me</h3>-->
							<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus odio illo ullam assumenda qui, quia, aut temporibus incidunt placeat eum sint quos! Asperiores ipsum, quas quae aut! Laboriosam in deleniti ratione blanditiis nam, at quisquam voluptas, ad dolorum facere veniam nihil corrupti quos cum voluptatem ea nostrum nisi sunt, a dignissimos repellat voluptates! Minus veniam quibusdam adipisci ea magni quia velit repudiandae iure impedit enim. Asperiores eos natus nihil, rem beatae, labore quis, dolorum enim magni autem quas suscipit eligendi.</p>-->
						
						</div>
						<!--<div class="about-clients">-->
						<!--	<h3>Clients</h3>-->
						<!--	<div class="row">-->
						<!--		<div class="col-md-2 col-sm-2 col-xs-6"><img src="http://placehold.it/165x75" alt=""></div>-->
						<!--		<div class="col-md-2 col-sm-2 col-xs-6"><img src="http://placehold.it/165x75" alt=""></div>-->
						<!--		<div class="col-md-2 col-sm-2 col-xs-6"><img src="http://placehold.it/165x75" alt=""></div>-->
						<!--		<div class="col-md-2 col-sm-2 col-xs-6"><img src="http://placehold.it/165x75" alt=""></div>-->
						<!--		<div class="col-md-2 col-sm-2 col-xs-6"><img src="http://placehold.it/165x75" alt=""></div>-->
						<!--		<div class="col-md-2 col-sm-2 col-xs-6"><img src="http://placehold.it/165x75" alt=""></div>-->
						<!--	</div>-->
						<!--</div>-->
					</div>
				</div>

			</div>
		</div>
		<script src="assets/js/jquery-1.12.4.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/isotope.pkgd.min.js"></script>
		<script src="assets/js/jquery.slicknav.js"></script>
		<script src="assets/js/main.js"></script>
	</body>

</html>