<!DOCTYPE html>
<html>
		<%= render 'header' %>
	<body>
		<div class="loader"></div>
		<div class="wrapper">
			<div class="container">
								<div class="page-title">
					<div class="row">
						<div class="col-md-9 col-xs-12">
							<h1><b>서비스/팀 소개페이지</b><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam laudantium, reiciendis animi, nulla totam esse!</h1>
						</div>
					</div>
				</div>
				<div class="about">
					<div class="about-img">
						<img src="http://placehold.it/1280x750" alt="">
					</div>
					<div class="about-content">
						<div class="about-info">
							<h3>About me</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus odio illo ullam assumenda qui, quia, aut temporibus incidunt placeat eum sint quos! Asperiores ipsum, quas quae aut! Laboriosam in deleniti ratione blanditiis nam, at quisquam voluptas, ad dolorum facere veniam nihil corrupti quos cum voluptatem ea nostrum nisi sunt, a dignissimos repellat voluptates! Minus veniam quibusdam adipisci ea magni quia velit repudiandae iure impedit enim. Asperiores eos natus nihil, rem beatae, labore quis, dolorum enim magni autem quas suscipit eligendi.</p>
						</div>
						<div class="about-clients">
							<h3>Clients</h3>
							<div class="row">
								<div class="col-md-2 col-sm-2 col-xs-6"><img src="http://placehold.it/165x75" alt=""></div>
								<div class="col-md-2 col-sm-2 col-xs-6"><img src="http://placehold.it/165x75" alt=""></div>
								<div class="col-md-2 col-sm-2 col-xs-6"><img src="http://placehold.it/165x75" alt=""></div>
								<div class="col-md-2 col-sm-2 col-xs-6"><img src="http://placehold.it/165x75" alt=""></div>
								<div class="col-md-2 col-sm-2 col-xs-6"><img src="http://placehold.it/165x75" alt=""></div>
								<div class="col-md-2 col-sm-2 col-xs-6"><img src="http://placehold.it/165x75" alt=""></div>
							</div>
						</div>
					</div>
				</div>
				<footer>
					<p>
						<b>Contact</b>
						<br>
						Phone / +80 356 22 5688
						<br>
						Email / info@proton.com
						<br>
						Studio / 36 Jump Street, New York ACT 2609
					</p>
				</footer>
			</div>
		</div>
		<script src="assets/js/jquery-1.12.4.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/isotope.pkgd.min.js"></script>
		<script src="assets/js/jquery.slicknav.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>