<!DOCTYPE html>
<html>
	<head>

	</head>
	<body>
		<div class="loader"></div>
		<div class="wrapper">
			<div class="container">
				<div class="page-title">
					<div class="row">
						<!--<div class="col-md-9 col-xs-12">-->
						<!--</div>-->
					</div>
				</div>
				<table class="table" style="width:70%">
			      <tr>
			        <th width="70%">제목</th>
			        <th width="10%">작성자</th>
			        <th width="20%">작성일</th>
			        <th></th>
			      </tr>
			      <br>
			      <br>
			      
			      <tr>
			        <td></td>
			        <td></td>
			      </tr>

			    </table>
				<!--<div class="contact">-->
				<!--	<div class="row">-->
				<!--		<div class="col-md-9">-->
				<!--			<div class="contact-form">-->
				<!--				<div class="row">-->
				<!--					<form method="POST" action="form">-->
				<!--						<div class="col-md-4"><input type="text" name="name" placeholder="Name"></div>-->
				<!--						<div class="col-md-4"><input type="text" name="email" placeholder="Email"></div>-->
				<!--						<div class="col-md-4"><input type="text" name="website" placeholder="Website"></div>-->
				<!--						<div class="col-md-12">-->
				<!--							<textarea placeholder="Your Message" name="message" cols="30" rows="10"></textarea>-->
				<!--							<input class="submit" type="submit" value="Send Message" style="margin-bottom:100px;"><br><br><br>-->
				<!--						</div>-->
				<!--					</form>-->
				<!--				</div>-->
				<!--			</div>-->
				<!--		</div>-->
						<!--<div class="col-md-3">-->
						<!--	<div class="contact-info">-->
						<!--		<div class="about-info">-->
						<!--			<h4>Contact info</h4>-->
						<!--			<p>Lorem ipsum dolor sit amet, conse adipisicing elit. Libero incidunt quod ab mollitia quia dolorum conse.</p>-->
						<!--		</div>-->
						<!--		<div class="recent-posts">-->
						<!--			<h4>Recent posts</h4>-->
						<!--			<ul>-->
						<!--				<li><a href="#"><img src="http://placehold.it/78x50" alt=""></a></li>-->
						<!--				<li><a href="#"><img src="http://placehold.it/78x50" alt=""></a></li>-->
						<!--				<li><a href="#"><img src="http://placehold.it/78x50" alt=""></a></li>-->
						<!--				<li><a href="#"><img src="http://placehold.it/78x50" alt=""></a></li>-->
						<!--				<li><a href="#"><img src="http://placehold.it/78x50" alt=""></a></li>-->
						<!--			</ul>-->
						<!--		</div>-->
						<!--	</div>-->
						<!--</div>-->
				<!--	</div>-->
				<!--</div>-->
				
			</div>
		</div>
		<script src="assets/js/jquery-1.12.4.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/isotope.pkgd.min.js"></script>
		<script src="assets/js/jquery.slicknav.js"></script>
		<script src="assets/js/main.js"></script>
	</body>

</html>