<!DOCTYPE html>
<html>
	<body>
		<div class="loader"></div>
        <div class="container">
		<div class="wrapper">
			<!--<div class="container">-->

				<br>
				<!--<a href="/home/write_post" class="btn btn-default" role="button">글쓰기</a>-->
				
				<!--<div class="container">-->
					<div class="row">
							<img src="http://postfiles14.naver.net/20160810_77/georgeyeon_1470766040020kNubi_JPEG/KakaoTalk_20160806_151953592.jpg?type=w1" alt="">
					</div>
					<% @users.each do |u| %>
      					 <%= u.name %>
      					 <a href="/show/<%=u.id%>"><%= u.name %>님에게 메시지보내기</a>
    				<% end %>
				<!--</div>-->
				<hr>
				<div class="portfolio">
					<!--<div class="filters">-->
					<!--	<span>Filters :</span>-->
					<!--	<ul id="filters">-->
					<!--		<li class="active" data-filter="*">All</li>-->
					<!--		<li data-filter=".artwork">Art Work</li>-->
					<!--		<li data-filter=".webdesign">Web Design</li>-->
					<!--		<li data-filter=".design">Design</li>-->
					<!--	</ul>-->
					<!--</div>-->
					<div class="row portfolio-masonry" >
						 <% @every_pet.each do |new_pet| %>
						<div class="selector col-md-4 col-sm-6 col-xs-12 webdesign">
							<a href="project_single">
								<div class="item" style="background-image: url('<%= new_pet.image_url %>')">
									<div class="overlay">
										<div class="inner-overlay">
											<h3>개드림</h3>
											<span>Gae Dream</span>
										</div>
									</div>
								
								</div>
							</a>
						</div>
						<% end %>
					
						
	
						
						<!--<div class="selector col-md-4 col-sm-6 col-xs-12 webdesign">-->
						<!--	<a href="project_single">-->
						<!--		<div class="item">-->
						<!--			<div class="overlay">-->
						<!--				<div class="inner-overlay">-->
						<!--					<h3>개드림</h3>-->
						<!--					<span>Gae Dream</span>-->
						<!--				</div>-->
						<!--			</div>-->
						<!--			<img src="http://placehold.it/360x360" alt="">-->
						<!--		</div>-->
						<!--	</a>-->
						<!--</div>-->
					
					</div>
				<!--</div>-->
				<hr>
				
			</div>
		</div>
		</div>
	</body>
	<!--	<script src="assets/js/jquery-1.12.4.min.js"></script>-->
	<!--	<script src="assets/js/bootstrap.js"></script>-->
	<!--	<script src="assets/js/isotope.pkgd.min.js"></script>-->
	<!--	<script src="assets/js/jquery.slicknav.js"></script>-->
	<!--	<script src="assets/js/main.js"></script>-->
	<!--</body>-->
</html>
				