							    <% if user_signed_in? %>
							      <% get '/users/edit' %>
							    <% else %>
							        <h1>회원가입이 필요한 페이지입니다. 로그인을 해 주십시오.</h1>
									 <li><%= link_to "로그인", new_user_session_path %></li>
									 <li><%= link_to "회원가입", new_user_registration_path %></li>
							    <% end %>