<div id="preloader"></div>
	<div class="wrapper">
		<div class="container">
		    <div class="portfolio">
				<div class="portfolio-masonry" >
				    
					<% @matching_pet.each do |m_pet| %>
						<div class="selector col-md-4 col-sm-6 col-xs-12 webdesign">
						    <div class="thumbnail">
							<a href="/pet_content/<%= m_pet.id %>">
								<div class="item" style="background-image: url('<%= m_pet.image_url %>'); margin-top: 0px">
									<div class="overlay">
										<div class="inner-overlay">
											<h3><%= m_pet.kind %></h3>
											<span><%= m_pet.age %></span>
										</div>
									</div>
								</div>
							</a>
							<h1>dddd</h1>
							</div>
						</div>
					<% end %>
				    	
				</div>
			</div>
		</div>
	</div>
	