<!DOCTYPE html>
<html>
	<body>
		<!--<div class="loader"></div>-->
		<div class="wrapper">
			
			<center>
			    <div class="container">
				    <div class="page-title">
				        <div class="row">
						    <h1><%=@user.name%>에게 메시지 보내시겠습니까?</h1>
					    </div>
				</div>
				<div class="blog">
					<div class="row">
						<!--<div class="col-md-9 col-sm-9 col-xs-12 blog-content">-->
						<div class="blog-content">
							<div class="blog-post">
								<div class="hvr-grow">
								    <h2>
								        <a href="/new/<%=params[:id]%>">
								            <button type="submit" class="btn btn-primary" style="margin-top:20px">Messages <span class="badge">send!</span></button>
									    </a>
									</h2>
							    </div>
							</div>
						</div>
			        </div>
			    </div>
			</center>
		</div>
	</body>
</html>

