<!DOCTYPE html>
<html>

	
	<body>
		<!--<div class="loader"></div>-->
		<div class="wrapper">
			<center>
			<div class="container">
				<div class="page-title">
					<div class="row">
						<h1>my pages</h1>
					<!--<div class="col-md-9 col-xs-12">-->
					<!--</div>-->
					<div class="dog_profile">
					　
					</div>
					</div>
				</div>
				<div class="blog">
					<div class="row">
						<!--<div class="col-md-9 col-sm-9 col-xs-12 blog-content">-->
						<div class="blog-content">
							<div class="blog-post">
								<div class="blog-info">
									<h2><a href="/home/infomation">회원정보</a></h2>
								</div>
							</div>
							<div class="blog-post">
								<div class="blog-info">
									<h2><a href="/home/upload_pet">애견 등록하기</a></h2>
								</div>
							</div>						
							<div class="blog-post">
								<div class="blog-info">
									<h2><a href="/home/message_recieved_box">받은쪽지함</a></h2>
								</div>
							</div>
						<div class="hover effect5">
						<span>hover Effect5</span>
						</div>
						<a href="#" class="hvr-grow">Add to Basket</a>
						</div>
						<!--<div class="col-md-3 col-sm-3 col-xs-12 sidebar">-->
						<!--	<div class="sidebar-content">-->
						<!--		<h4>Recent Posts</h4>-->
						<!--		<ul>-->
						<!--			<li><a href="#">Summer Soiree Inspiration</a></li>-->
						<!--			<li><a href="#">New electric cars are fast</a></li>-->
						<!--			<li><a href="#">The best 20 spots for relaxing</a></li>-->
						<!--			<li><a href="#">Eating well. A short guide</a></li>-->
						<!--		</ul>-->
						<!--	</div>-->
						<!--	<div class="sidebar-content">-->
						<!--		<h4>Categories</h4>-->
						<!--		<ul>-->
						<!--			<li><a href="#">Art Work</a></li>-->
						<!--			<li><a href="#">Design</a></li>-->
						<!--			<li><a href="#">Picture</a></li>-->
						<!--			<li><a href="#">Eating</a></li>-->
						<!--			<li><a href="#">Eating</a></li>-->
						<!--			<li><a href="#">Electric</a></li>-->
						<!--		</ul>-->
						<!--	</div>-->
						<!--	<div class="sidebar-content tags">-->
						<!--		<h4>Tags</h4>-->
						<!--		<ul>-->
						<!--			<li><a href="#">Art Work</a></li>-->
						<!--			<li><a href="#">Design</a></li>-->
						<!--			<li><a href="#">Picture</a></li>-->
						<!--			<li><a href="#">Web</a></li>-->
						<!--			<li><a href="#">Design</a></li>-->
						<!--			<li><a href="#">Template</a></li>-->
						<!--			<li><a href="#">Illustrator</a></li>-->
						<!--		</ul>-->
						<!--	</div>-->
						<!--</div>-->
					</div>
					<!--<div class="row">-->
					<!--	<div class="col-md-12">-->
					<!--		<ul class="page-pagination">-->
					<!--			<li class="active"><a href="#">1</a></li>-->
					<!--			<li><a href="#">2</a></li>-->
					<!--			<li><a href="#">3</a></li>-->
					<!--			<li><a href="#"><i class="fa fa-angle-right"></i></a></li>-->
					<!--		</ul>-->
					<!--	</div>-->
					<!--</div>-->
				</div>
			</div>
			</center>
		</div>
		<script src="assets/js/jquery-1.12.4.min.js"></script>
		<script src="assets/js/bootstrap.js"></script>
		<script src="assets/js/isotope.pkgd.min.js"></script>
		<script src="assets/js/jquery.slicknav.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>